<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Accueil</title>
</head>

<body>
    <header>
        <img src="" alt="logo" class="logo">
    </header>
    <main>
        <section class="left">
            <h2 (click)="pageAccueil()"><i class="fas fa-home"></i>&nbsp; &nbsp; Accueil </h2>
            <h2 (click)="pageSession()"><i class="fas fa-comments"></i>&nbsp; &nbsp; Session </h2>
            <h2 (click)="pageProfil()"><i class="fas fa-user"></i>&nbsp; &nbsp; Profil </h2>
            <h2 (click)="pageSearch()"><i class="fas fa-search"></i>&nbsp; &nbsp; Rechercher </h2>
            <h2 href="" (click)="pageSetting()" *ngIf="utilisateur?.role == 'Admin'"><i class="fas fa-cog"></i>&nbsp; &nbsp;
                Dashboard </h2>
            <h2 (click)="pageDeconnexion()"><i class="fas fa-heart-broken"></i>&nbsp; &nbsp; Déconnexion</h2>
            <button (click)="boutonCreatePost()"> Créer un post </button>
        </section>
        <div class="contenuClick" *ngIf="idClick">
            <div class="contenu">
                <div class="userI">
                    <img [src]="utilisateurClicke?.avatar" [alt]="utilisateur?.pseudo" class="avatar">
                    <h3>{{ utilisateurClicke?.pseudo }}</h3>
                </div>
                <button class="follow" *ngIf="isFollowed == false" (click)="followUser(utilisateurClicke?.id!)">S'abonner</button>
                <button class="unfollow" *ngIf="isFollowed == true" (click)="unfollowUser(utilisateurClicke?.id!)" >Se désabonner</button>
                <div class="infos">
                    <h4 (click)="boutonAbonnes()">{{ followerCountId }} <br>&nbsp;&nbsp;&nbsp;Abonnés&nbsp;&nbsp;&nbsp;</h4>
                    <h4 (click)="boutonAbonnement()">{{ followingCountId }} <br>Abonnements</h4>
                    <h4>{{ postCount }} <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                </div>
                <div class="post-list">
                    <div class="post-card" *ngFor="let post of posts">
                        <div class="post-header">
                            <img [src]="utilisateurClicke?.avatar" [alt]="utilisateur?.pseudo" class="post-avatar">
                            <h4 class="post-author">{{ utilisateurClicke?.pseudo }}</h4>
                            <h5 class="post-title">{{ post?.titre }}</h5>
                        </div>
                        <div class="post-body">
                            <p>{{ post?.post }}</p>
                            <p>{{ post?.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
                        </div>
                        <form (ngSubmit)="createComment(post.id, post.commentaireTemporaire)">
                            <label for="create"></label>
                            <textarea type="text" class="createC" placeholder="Votre commentaire" [(ngModel)]="post.commentaireTemporaire"
                                name="comment-{{ post.id }}"></textarea>
                            <button type="submit" class="sendComment">Envoyer</button>
                        </form>
                        <div class="post-comments">
                            <h5 class="post-comment-title" (click)="afficherCommentaire(post)"><i
                                    class="fas fa-sort-down"></i>&nbsp; &nbsp;Commentaires</h5>
                            <div *ngIf="post.isCommentsVisible">
                                <div class="commentUser" *ngFor="let commentaire of post.commentaires">
                                    <i *ngIf="commentaire.id === utilisateur?.id" (click)="deleteComment(commentaire.id)" class="fas fa-trash"></i>
                                    <h4> {{ commentaire?.pseudo}}</h4>
                                    <p class="comment-author">{{ commentaire?.comment }}</p>
                                    <p class="comment-date">{{ commentaire?.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
                                    <div *ngIf="!commentaire">
                                        <p>Aucun commentaire</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <aside>
            <div class="search">
                <div class="searchInput">
                    <label for="user"><i class="fas fa-search"></i></label>
                    <input type="text" class="searchUser" placeholder="Rechercher un utilisateur...">
                </div>
                <div class="listeFollowing">
                    <div *ngFor="let follow of following" class="following-item">
                        <img [src]="follow.utilisateur?.avatar || 'https://sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png'"
                            alt="Avatar" class="avatar-img">
                        <div class="pseudo" *ngIf="follow.utilisateur?.id" (click)="ouvrirProfil(follow.utilisateur.id)">
                            {{ follow.utilisateur?.pseudo || 'Utilisateur inconnu' }}
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </main>
</body>
