<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Connexion/Inscription</title>
</head>
<body>
    <main>
        <section class="connexion">
            <h2>Se connecter:</h2>
            <form #loginForm="ngForm" (submit)="login()">
                <div class="nameGroup">
                    <h4>Nom d'utilisateur</h4>
                    <label for="nom"></label>
                    <input class="form-control" id="nom" name="nom" [(ngModel)] = "pseudo"/>
                </div>
                <div class="passwordGroup">
                    <h4>Mot de passe</h4>
                    <label for="password"></label>
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password"/>
                </div>
                <button type="submit" class="btn btn-primary">
                    Se connecter
                </button>
            </form>
            <div class="inscriptionButton" >
                <a (click)="buttonInscription()">Pas encore inscrit ?</a>
            </div>
        </section>

        <!-- //////////////////////////////// -->

        <section class="inscription" (click)="clickInscription()">
            <h2>Personnaliser mon experience</h2>
            <a><i class="fas fa-arrow-right"></i></a>
        </section>

    </main>
</body>
