/* @keyframes slide-in {
    0% {
        background-position: 0% 0%;
    }

    10% {
        background-position: 10% 70%;
    }

    50% {
        background-position: 100% 50%;
    }

    90% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
} */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep * {

    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #323734;
}



body {
    background: #323734;
    background-size: 300% 300%;
    animation: slide-in 15s infinite;
    color: #ffffff;
}

/* ===== HEADER ===== */

header {
    padding: 10px;
    border-bottom: 1px solid #828282;

}

.logo {
    height: 50px;
    margin-left: 50%;
}


/* ===== MAIN ===== */

main {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    height: 94vh;
}

.left {
    padding-top: 50px;
    border-right: 1px solid #828282;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.left a {
    color: #ddd;
    cursor: pointer;
    margin-left: 15%;
    text-decoration: none;
    font-size: 1.5rem;
}

.left a:hover {
    font-weight: 700;

}

.grass {
    font-weight: 700;
}

.createPost {
    background-color: #ffffff;
    color: #323734;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 25%;
    margin-top: 30px;
    cursor: pointer;
}

.createPost:hover {
    background-color: #323734;
    color: #ffffff;
    transition: 0.3s;
    border-color: #ffffff;
}


.middle {
    background-color: #1b1d1b;
}




/* ===== ASIDE (UTILISATEURS ACTIFS) ===== */

aside {
    border-left: 1px solid #828282;
}

.activeUser h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 400px;
}

.search i {
    color: white;
    margin-right: 10px;
}

.searchUser {
    border: none;
    background: none;
    width: 100%;
    font-size: 14px;
    outline: none;
    color: #ffffff;
}

/* --------------------------- CONTENU BACK ------------------------------  */

.contenu h3 {
    margin-left: 49%;
    margin-top: 10rem;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}