<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>Accueil</title>
</head>
<body>
    <header>
        <img src="" alt="logo" class="logo">
    </header>
    <main>
        <section class="left">
            <h2 href="" (click)="pageAccueil()"><i class="fas fa-home"></i>&nbsp; &nbsp; Accueil </h2>
            <h2 href="" (click)="pageSession()"><i class="fas fa-comments"></i>&nbsp; &nbsp; Session </h2>
            <h2 href="" (click)="pageProfil()"><i class="fas fa-user"></i>&nbsp; &nbsp; Profil </h2>
            <h2 href="" (click)="pageSearch()"><i class="fas fa-search"></i>&nbsp; &nbsp; Rechercher </h2>
            <h2 href="" (click)="pageSetting()" *ngIf="utilisateur?.role == 'Admin'"><i class="fas fa-cog"></i>&nbsp; &nbsp; Dashboard </h2>
            <h2 href="" (click)="pageDeconnexion()"><i class="fas fa-heart-broken"></i>&nbsp; &nbsp; Déconnexion</h2>
            <button (click)="boutonCreatePost()"> Créer un post </button>
        </section>
        <section class="middle">
            <div class="abonnement"></div>
            <div class="postList">
                <div class="post-card" *ngFor="let post of posts">
                    <div class="post-header">
                        <div class="post-header">
                            <img [src]="post.utilisateur?.avatar" [alt]="post.utilisateur?.pseudo" class="post-avatar" *ngIf="post.utilisateur?.id" (click)="ouvrirProfil(post.utilisateur.id)">
                            <h4 class="post-author">{{ post.utilisateur?.pseudo }}</h4>
                            <h5 class="post-title">{{ post?.titre }}</h5>
                        </div>
                        <div class="post-body">
                            <p>{{ post?.post }}</p>
                            <p>{{ post?.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
                        </div>
                        <form (ngSubmit)="createComment(post.id, post.commentaireTemporaire)">
                            <label for="create"></label>
                            <textarea type="text" class="createC" placeholder="Votre commentaire" [(ngModel)]="post.commentaireTemporaire"
                                name="comment-{{ post.id }}"></textarea>
                            <button type="submit" class="sendComment">Envoyer</button>
                        </form>
                        <div class="post-comments">
                            <h5 class="post-comment-title" (click)="afficherCommentaire(post)"><i class="fas fa-sort-down"></i>&nbsp;
                                &nbsp;Commentaires</h5>
                            <div *ngIf="post.isCommentsVisible">
                                <div class="commentUser" *ngFor="let commentaire of post.commentaires">
                                    <i *ngIf="commentaire.user_id === utilisateur?.id" (click)="deleteComment(commentaire.id)" class="fas fa-trash"></i>
                                    <h4> {{ commentaire?.pseudo}}</h4>
                                    <p class="comment-author">{{ commentaire?.comment }}</p>
                                    <p class="comment-date">{{ commentaire?.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
                                    <div *ngIf="!commentaire">
                                        <p>Aucun commentaire</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="createPost">
            <i id='cross' class="fas fa-times" (click)="boutonCroixPost()"></i>
            <form #loginForm = 'ngForm' (submit)="createPost()">
                <div class="titre">
                    <h4>Titre du post</h4>
                    <label for="titrePost"></label>
                    <input  type="text" class="titrePost" id="titrePost" name="titre" placeholder="Titre du post" [(ngModel)]="nouveauPost.titre">
                </div>
                <div class="description">
                    <h4>Description du post</h4>
                    <label for="descriptionPost"></label>
                    <textarea type="text" class="descriptionPost" id="descriptionPost" name="post" placeholder="Description du post" [(ngModel)]="nouveauPost.post"></textarea>
                </div>
                <button type="submit" class="btnPost">Créer mon post</button>
            </form>
        </section>
        <aside>
            <div class="search">
                <div class="searchInput">
                    <label for="user"><i class="fas fa-search"></i></label>
                    <input type="text" class="searchUser" placeholder="Rechercher un utilisateur...">
                </div>
                <div class="listeFollowing">
                    <div *ngFor="let follow of following" class="following-item">
                        <img [src]="follow.utilisateur?.avatar || 'https://sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png'"
                            alt="Avatar" class="avatar-img">
                        <div class="pseudo" *ngIf="follow.utilisateur?.id" (click)="ouvrirProfil(follow.utilisateur.id)">
                            {{ follow.utilisateur?.pseudo || 'Utilisateur inconnu' }}
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </main>
</body>
